<!DOCTYPE html>
<html lang="de">
    <head>
        <title>Minecraft Marquee Shops</title>
        <!--Einbindung von jQuery (Nur mit Internetverbindung?)-->
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <!-- Faye laden -->
        <script src='/faye/client.js'></script>
        <!-- <link rel="stylesheet" type="text/css" href="styles.css">-->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <!-- Optional theme -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="custom.css">
        <script src="javascripts/profile.js" type="text/javascript"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
    </head>
    <body>
        <div class="navbar navbar-inverse">
            <div class="container">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/top">Top Items</a></li>
                    <li><a href="/add">Item Anbieten</a></li>
                    <li class="active"><a href="/profile">Meine Angebote</a></li>
                    <li><a href="/login">Login</a></li> 
                    <li><a href="/search">Suche</a></li>
                    <li><a id="active_user"></a></li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="page-header">
                <h2>Meine Angebote</h2>
            </div>
            <!-- Tabellenkopf, neue fahrten werden hier hinzugefuegt -->
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-condensed" id='tabelle' border='1'>
                    <tr>
                        <th>Verkäufer</th>
                        <th>Itemname</th>
                        <th>Menge</th>
                        <th>Preis</th>
                        <th>Stückpreis</th>
                        <th>(Verfügbarkeit)</th>
                        <th>Aktionen</th>
                    </tr>
                </table>
            </div>
        </div>
    </body>                                   
</html>