<!DOCTYPE html>
<html lang="de">
  <head>
      <title>Projekt: Marquee_shops</title>
      <!--Einbindung von jQuery (Nur mit Internetverbindung?)-->
      <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
      <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
      <!-- Optional theme -->
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
      <link rel="stylesheet" href="custom.css">

      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta charset="UTF-8">
  </head>
  <body>
    <div class="container">
      <h1>Email gesendet</h1>
      <p>Überprüfe deinen Posteingang und klicke auf den Link in der Email</p>
      <ul>
        <li>
          <a href="/" class="btn btn-default">Zurück zur Startseite</a>
        </li>
      </ul>
          <a href='https://mail.google.com'>Gmail</a><br>
          <a href='https://gmx.net'>gmx.net</a><br>
          <a href='https://web.de'>web.de</a><br>
          <a href='https://login.live.com/'>live.com</a>
    </div>
    <div class="footer">
      <div class="container">
        <p class="text-muted">Gestrickt von kanonenfutter - 2014 -
        <a href="http://vanakh.ch">vanakh.ch</a></p>
      </div>
    </div>
  </body>                                   
</html>